<tr>
  <td>1</td>
  <td>
    <div class="m-r-10"><img src="{{imagePath}}" alt="user" class="rounded" width="45">
    </div>
  </td>
  <td>Denim Jacket</td>
  <td>id000001 </td>
  <td>2</td>
  <td>1.000.000đ</td>
  <td>27-08-2018 01:22:12</td>
  <td>Yến Nhi Nguyễn </td>
  <td><span class="badge-dot badge-success mr-1"></span> Đã giao hàng</td>
</tr>