<!--================Login Box Area =================-->
<section class="login_box_area p_120">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner" style="text-align: center;">
					<h3>Đăng nhập vào tài khoản</h3>
					{{#if hasErrors}}
					<div class="alert alert-danger login_form">
						{{#each errorMessages }}
						<p>{{this}}</p>
						{{/each}}
					</div>
					{{else}}
					{{#if hasSuccess}}
					<div class="alert alert-success login_form">
						{{#each successMessages }}
						<p>{{this.msg}}</p>
						{{/each}}

					</div>
					{{/if}}
					{{/if}}
					<form class="row login_form" action="login" method="post" id="contactForm" novalidate="novalidate">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="username" name="username" placeholder="Tên tài khoản">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="btn submit_btn">Đăng nhập</button>
							<a href="forgot">Quên mật khẩu?</a>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->