<div class="row">
	<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
		<div class="row" id="single-products-section">

			{{!-- <div id="single-products-section">
				<!--Ajax goes here-->
			</div> --}}
			
		</div>

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link " href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
	</div>
	<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
		<div class="product-sidebar">
			<div class="product-sidebar-widget">
				<h4 class="mb-0">Bộ lọc</h4>
			</div>
			<div class="product-sidebar-widget">
				<h4 class="product-sidebar-widget-title">Tên sản phẩm</h4>
				<input type="text" name="" class="search-txt">
				<div style="margin-top:5px; text-align: center;"><button class="title-filter">Tìm</button></div>
			</div>
			<div class="product-sidebar-widget type-filter">
				<h4 class="product-sidebar-widget-title">Áo</h4>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Áo len" id="cat-1">
					<label class="custom-control-label" for="cat-1">Áo len</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Áo thun" id="cat-2">
					<label class="custom-control-label" for="cat-2">Áo thun</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Áo lót" id="cat-3">
					<label class="custom-control-label" for="cat-3">Áo lót</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Áo sơ mi" id="cat-4">
					<label class="custom-control-label" for="cat-4">Áo sơ mi</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Áo khoác" id="cat-5">
					<label class="custom-control-label" for="cat-5">Áo khoác</label>
				</div>
			</div>

			<div class="product-sidebar-widget type-filter">
				<h4 class="product-sidebar-widget-title">Quần/váy</h4>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Quần tây" id="cat-6">
					<label class="custom-control-label" for="cat-6">Quần tây</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Quần thể thao" id="cat-7">
					<label class="custom-control-label" for="cat-7">Quần thể thao</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Quần jogger" id="cat-8">
					<label class="custom-control-label" for="cat-8">Quần jogger</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Váy" id="cat-9">
					<label class="custom-control-label" for="cat-9">Váy</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Đầm" id="cat-10">
					<label class="custom-control-label" for="cat-10">Đầm</label>
				</div>
			</div>

			<div class="product-sidebar-widget type-filter">
				<h4 class="product-sidebar-widget-title">Giày</h4>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Sneaker" id="cat-11">
					<label class="custom-control-label" for="cat-11">Sneaker</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Giày cao gót" id="cat-12">
					<label class="custom-control-label" for="cat-12">Giày cao gót</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Giày cao cổ" id="cat-13">
					<label class="custom-control-label" for="cat-13">Giày cao cổ</label>
				</div>
			</div>

			<div class="product-sidebar-widget brand-filter">
				<h4 class="product-sidebar-widget-title">Nhãn hiệu</h4>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Gucci" id="brand-1">
					<label class="custom-control-label" for="brand-1">Gucci</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="H&M" id="brand-2">
					<label class="custom-control-label" for="brand-2">H&M</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Pull&Bear" id="brand-3">
					<label class="custom-control-label" for="brand-3">Pull&Bear</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Mango" id="brand-4">
					<label class="custom-control-label" for="brand-4">Mango</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" value="Routine" id="brand-4">
					<label class="custom-control-label" for="brand-4">Routine</label>
				</div>
			</div>
			<div class="product-sidebar-widget color-filter">
				<h4 class="product-sidebar-widget-title">Màu chủ đạo</h4>
				<div class="fw-color-choose">
					<div class="cs-item">
						<input type="radio" value="Đen" name="cs" id="black-color">
						<label class="cs-black" for="black-color">
						</label>
					</div>
					<div class="cs-item">
						<input type="radio" value="Trắng" name="cs" id="white-color">
						<label class="cs-white" for="white-color">
						</label>
					</div>
					<div class="cs-item">
						<input type="radio" value="Xanh da trời" name="cs" id="blue-color">
						<label class="cs-blue" for="blue-color">
						</label>
					</div>
					<div class="cs-item">
						<input type="radio" value="Vàng gold" name="cs" id="yellow-color">
						<label class="cs-yellow" for="yellow-color">
						</label>
					</div>
					<div class="cs-item">
						<input type="radio" value="Hồng mạnh mẽ" name="cs" id="pink-color">
						<label class="cs-pink" for="pink-color">
						</label>
					</div>
				</div>
			</div>
			<div class="product-sidebar-widget price-filter">
				<h4 class="product-sidebar-widget-title">Giá</h4>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="price-1">
					<label class="custom-control-label" for="price-1">Dưới 1.000.000</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="price-2">
					<label class="custom-control-label" for="price-2">1.000.000-3.000.000</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="price-3">
					<label class="custom-control-label" for="price-3">Trên 3.000.000</label>
				</div>
			</div>
			<div class="product-sidebar-widget">
				<a href="#" class="btn btn-outline-light">Hủy bộ lọc</a>
			</div>
		</div>
	</div>
</div>
</div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<div class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
				Copyright © 2018 Concept. Mọi bản quyền được bảo hộ. Template phát triển bởi <a
					href="https://colorlib.com/wp/">Colorlib</a>.
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
				<div class="text-md-right footer-links d-none d-sm-block">
					<a href="javascript: void(0);">Về chúng tôi</a>
					<a href="javascript: void(0);">Hỗ trợ</a>
					<a href="javascript: void(0);">Liên hệ</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="javascripts/main-js.js"></script>
</body>

</html>